.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 24px;
  gap: 24px;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.btn {
  padding: 6px 12px;
  font-size: 16px;
  display: inline-block;
  width: 120px;
}
